In [10]:
import pandas as pd

df = pd.read_csv('C:/Users/malco/Desktop/stocks_at_ATL.csv')

In [13]:
#Want only companies that have existed since 1999
df1 = df[df['start_date']==1999]#want companies 

df2 = df1[df1['perc_from_ATH_'] > 1.5]
df2

,Unnamed: 0,start_date,perc_from_ATH_,stock,current_price,minall,maxall,each_markup,markup_10,markup_20,markup_30,markup_40,markup_50,markup_60,markup_70,markup_80,markup_90,markup_100,perc_from_ATH
7,33,1999,3.058823,ABMC,0.130000,0.04,4.250000,0.421000,0.461000,0.882000,1.303000,1.724000,2.145000,2.566000,2.987000,3.408000,3.829000,4.250000,0.030588
9,56,1999,2.803030,ACFN,0.370000,0.07,13.200000,1.313000,1.383000,2.696000,4.009000,5.322000,6.635000,7.948000,9.261000,10.574000,11.887000,13.200000,0.028030
25,172,1999,1.824578,AIG,37.860001,6.60,2075.000000,206.840000,213.440000,420.280000,627.120000,833.960000,1040.800000,1247.640000,1454.480000,1661.320000,1868.160000,2075.000000,0.018246
33,222,1999,3.606557,ALJJ,1.100000,0.02,30.500000,3.048000,3.068000,6.116000,9.164000,12.212000,15.260000,18.308000,21.356000,24.404000,27.452000,30.500000,0.036066
36,285,1999,1.695562,AMRN,4.890000,0.46,288.399994,28.793999,29.253999,58.047999,86.841998,115.635998,144.429997,173.223996,202.017996,230.811995,259.605995,288.399994,0.016956
38,289,1999,3.117471,AMSC,23.420000,2.89,751.250000,74.836000,77.726000,152.562000,227.398000,302.234000,377.070000,451.906000,526.742000,601.578000,676.414000,751.250000,0.031175
42,320,1999,2.954586,ANIX,3.070000,0.60,103.906250,10.330625,10.930625,21.261250,31.591875,41.922500,52.253125,62.583750,72.914375,83.245000,93.575625,103.906250,0.029546